sources/**/*.aux
sources/**/*.bbl
sources/**/*.bcf
sources/**/*.blg
sources/**/*.fdb_latexmk
sources/**/*.fls
sources/**/*.log
sources/**/*.out
sources/**/*.pdf
sources/**/*.run.xml
sources/**/*.synctex.gz
